<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aboutnav.css') }}">
</head>
<body class="aboutnav">
    <nav class="menu-wrapper">
        <ul id="menu-tabs" class="nav nav-pills justify-content-center">
            
            <li><a href="/about/vga">VGA</a></li>
            <li><a href="/about/ram">RAM</a></li>
            <li><a href="/about/processor">Processor</a></li>
            <li><a href="/about/mobo">Mother Board</a></li>
            <li><a href="/about/ssd">SSD</a></li>
            <li><a href="/about/psu">Power Supply</a></li>
        </ul>
    </nav>
</body>
</html>
