body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    padding: 0;
}

.isi {
    margin-top: 50px;
    margin-left:258px;
    margin-right: 258px;
}


nav ul {
    list-style: none;
    text-align: center;
    padding: 0; /* Pastikan tidak ada padding */
    margin: 0; /* Pastikan tidak ada margin */
    display: flex; /* Gunakan flexbox untuk mengatur elemen secara horizontal */
    justify-content: center; /* Pusatkan elemen navigasi */
}

nav ul li {
    display: inline-block;
}



nav ul li a:hover {
    background-color: #555;
}

h1 {
    text-align: center;
    color: #444;
}

p {
    text-align: center;
    color: #666;
}
.containers img{
    text-align: right;
    top: 200px;
}