.header{
    position: relative;
    top: -100px;
}
.custom-navbar {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 120px;
    margin-bottom: 20px;
    background: rgb(159, 196, 238);
    z-index: 1000;
    border-radius: 25px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px; /* Tambahkan padding untuk area klik yang lebih besar */
    transition: background-color 0.3s ease;
}
.navbar-nav .nav-link {
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-right: 15px;
}
.navbar-nav .nav-link:hover {
    color: rgb(93, 178, 247);
}
.navbar-nav .btn {
    border-radius: 25px;
}
.navbar .containers {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-item .nav-link:hover {
    background-color: blue;
    color: white;
}
.chat-item .nav-link:hover {
    background-color: blue; 
    color: white;
}
.home-item .nav-link:hover {
    background-color: blue; 
    color: white; 
}

.logout-item .nav-link , .chat-item .nav-link ,.home-item .nav-link {
    border-radius: 25px;
}