<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/aboutchild.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% include 'layouts/navbar.html' %}
    {% include 'layouts/aboutnav.html' %}
    <table>
        <thead>
            <tr>
                <th class="centered-text">Daftar Ram</th>
            </tr>
        </thead>
        <tbody>
            {% for ram in ram_list %}
                <tr>
                    <td class="centered-text">{{ ram['Nama'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'layouts/footer.html' %}
</body>
</html>
