<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/about.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    {% include 'layouts/navbar.html' %}
    <section class="container">
        <div class="isi">
            <h1>Welcome to the About Page</h1>
            {% include 'layouts/aboutnav.html' %}

        </div>
    </section>
   
</body>
{% include 'layouts/footer.html' %}
</html>
